<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<h:outputScript>var nodeImg = "#{resource['images/node.png']}";</h:outputScript>
		<h:outputScript>var subnodeImg = "#{resource['images/subnode.png']}";</h:outputScript>
		<h:outputScript library="js" name="custom-mindmap.js" />
	</h:head>
	
</html>